a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 1px 1px 0px
}

header {
  box-shadow: 0 0 1px black;
  background-color: #c4c4c4;
  padding: 10px;
  font-size: 16px
  border: 1px solid black;
}

body {
	font-family: Lucida Grande;
	margin: 0px;
	text-align: center;
	width: 80%;
  background-image: url("./img/background.png");
}
